
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f3f4f6;
    color: #111827;

    display: flex;
    flex-direction: column;

    min-height: 100vh; 
}


header {
    width: 100%;
    background: #ffffff;
    padding: 20px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #e5e7eb;
}

.logo {
    font-family: "Katibeh", serif;
    font-size: 56px;
    color: #111827;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #111827;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background: #F7DF1E;
    transition: 0.2s ease;
}

nav a:hover::after {
    width: 100%;
}


.container {
    max-width: 900px;
    width: 100%;
    margin: 40px auto 20px;
    padding: 20px;

    flex: 1; 
}


.title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}


#timeBox {
    width: 100%;
    height: 150px;
    background: #ffffff;
    border-radius: 20px;
    border: 3px solid #eee;
    box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.12);

    font-size: 38px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 40px;
}


.action-row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.column {
    flex: 1;
    text-align: center;
}

.sub {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}


.btn {
    width: 180px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.yellow {
    background: #F7DF1E;
}

.green {
    background: #44B91A;
    color: white;
}


footer {
    background: #e5e7eb;
    padding: 20px 60px;
    height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 18px;
    font-style: italic;
    color: #4b5563;

    margin-top: auto; 
}

footer .right {
    font-weight: 60;
}
